body{
    font-family: Roboto, Arial;
    background-color: rgb(248, 248, 248);
    margin: 0;
    padding-top: 80px;
    padding-left: 95px;
    padding-right: 25px;
}

p{
    margin-top: 0;
    margin-bottom: 0;
}