
.sidebar{
    padding-top: 5px;
    z-index: 2;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    left: 0;
    top: 55px;
    width: 72px;
    background-color : white;
}

.sidebar img{
    width: 24px;
    height: 24px;
}

.icon{
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    height: 74px;
    width: 72px;
}

.icon:hover{
    background-color: rgb(233, 230, 230);
}

.text{
    font-weight: 400;
    font-size: 10px;
}